<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<footer class="footer" style="text-align: center">
  <div class="container">
    <h5 style="color:white">Designed by RedAlert</h5>
    <h5>
      <a href="#">Back to top</a>
    </h5>
  </div>
</footer>
</body>
</html>
