<h1 align="center">Editing Device</h1>

<%= render 'form', device: @device %>
<div class="actions form-group">
  <div class="col-sm-offset-4 col-sm-10">
    <%= link_to 'Back', devices_path %>
  </div>
</div>

